body{
    background-image: linear-gradient(90deg, #e2cfc4ff, #f7d9c4ff, #faedcbff, #c9e4deff, #c6def1ff, #dbcdf0ff, #f2c6deff, #f9c6c9ff);
    text-align: center;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}


h1{
    font-size: 2.5em;
    letter-spacing: .03em;
    color: #ffffff;
    -webkit-text-stroke: 1px black;
    margin-top: 15%;
    font-family: 'Permanent Marker', cursive;
    padding: 5px;
}

h2, h3, p{
    font-family: 'Raleway', sans-serif;
}

.initialViewNav{
    padding: 5px;
}

.bookMarkElement{
    padding: 10px;
}

input{
    height: auto;
    width: auto;
    margin: 10px;
}

#error{
    color: red;
    margin: 1px;
    padding: 5px;
    border: 1px solid black;
}

.ratingSystem{
    margin: auto;
    width: 300px;
}

button{
    padding: 2px;
    margin: 1px;
    background-color: #FFFFFF;
    cursor:pointer

}

select{
    cursor:pointer;
    background-color: #FFFFFF;

}

select:hover, button:focus {
    background-color: #a0c4ff;
  }

button:hover, button:focus {
    background-color: #a0c4ff;
  }

li{
    margin: 1px;
    padding: 5px;
    border: 1px solid black;
    list-style: none;
}

